<h2>GitRepositoriesController#index</h2>
<table>
<% for repo in @repositories do %>
	<tr>
		<td> <%= repo.remote_origin_url %> </td>
		<td> <%= repo.local_clone_path %> </td>
		<td> <%= link_to "clone", git_repository_clone_path(repo), method: :post, data: { confirm: 'Are you sure?' } %> </td>
		<td> <%= link_to "delete", git_repository_path(repo), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
	</tr>
<% end %>
</table>

<p><%= link_to "Add repository", new_git_repository_path %></p>